<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"30px"}}},"backgroundColor":"contrast","textColor":"light","layout":{"inherit":true}} -->
<div class="wp-block-group has-light-color has-contrast-background-color has-text-color has-background" style="margin-top:0px;margin-bottom:30px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">
    <!-- wp:template-part {"slug":"header","align":"full"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"backgroundColor":"light","textColor":"dark","layout":{"contentSize":""}} -->
<div class="wp-block-group alignwide has-dark-color has-light-background-color has-text-color has-background" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px">   
    <!-- wp:pattern {"slug":"wcus/hidden-404"} /-->
</div>
<!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer","align":"wide"} /-->

</div>
<!-- /wp:group -->