<!-- wp:group {"lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"30px","left":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"contrast","textColor":"light","className":"is-style-full-height-group","layout":{"inherit":true}} -->
<div class="wp-block-group is-style-full-height-group has-light-color has-contrast-background-color has-text-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0px;padding-right:0px;padding-bottom:30px;padding-left:0px">
    
    <!-- wp:template-part {"lock":{"move":true,"remove":true},"slug":"header","align":"full"} /-->

    <!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"align":"wide","style":{"spacing":{"padding":{"top":"40px","right":"40px","bottom":"40px","left":"40px"}}},"backgroundColor":"light","textColor":"dark","layout":{"contentSize":""}} -->
    <main class="wp-block-group alignwide has-dark-color has-light-background-color has-text-color has-background" style="padding-top:40px;padding-right:40px;padding-bottom:40px;padding-left:40px">

        <!-- wp:pattern {"slug":"wcus/hidden-404-content"} /-->

    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"lock":{"move":true,"remove":true},"slug":"footer","align":"wide"} /-->

</div>
<!-- /wp:group -->