<!-- wp:site-title /-->
<!-- wp:site-tagline /-->

<!-- wp:query {"queryId":0} -->
<div class="wp-block-query">

    <!-- wp:post-template -->

        <!-- wp:post-title /-->

        <!-- wp:post-excerpt /-->

    <!-- /wp:post-template -->

    <!-- wp:query-pagination -->

        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-next /-->

    <!-- /wp:query-pagination -->

</div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p>WCUS 2022 Block Theme Workshop</p>
<!-- /wp:paragraph -->