<!-- wp:site-title /-->
<!-- wp:site-tagline /-->
<!-- wp:navigation /-->

<!-- wp:query { "queryId":0 } -->
<div class="wp-block-query">
    <!-- wp:post-template -->
        <!-- wp:post-title /-->
        <!-- wp:post-content /-->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination -->
        <!-- wp:query-pagination-numbers /-->
    <!-- /wp:query-pagination -->
</div>
<!-- /wp:query -->

<!-- wp:paragraph -->
<p>Proudly powered by <a href="https://wordpress.org" rel="nofollow">WordPress</a></p>
<!-- /wp:paragraph -->