<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"0px","margin":{"top":"0px","bottom":"30px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:30px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:template-part {"slug":"header","align":"full"} /-->

<!-- wp:template-part {"slug":"loop","align":"wide"} /-->

<!-- wp:template-part {"slug":"footer","align":"wide"} /--></div>
<!-- /wp:group -->